/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-calendar-body-selected {
    background: url('assets/truck.png');
    background-repeat: no-repeat;
    color: orange;
}

.mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: none;
}

.mat-calendar-body-cell-content.available-date {
    border-color: rgba(255,165,0,.38);
}

.mat-calendar-body-cell-content.available-date.mat-calendar-body-selected {
    box-shadow: none;
    border: none;
}